<footer class="il-footer">

  <div class="il-footer-l">

    <div class="il-footer-l-1">
      <p class="il-footer-small-text">Powered by {{ site.title }}</p>
    </div>

    <div class="il-footer-l-2">
      <p class="il-footer-small-text">Copyright © {{ site.time | date: '%Y' }} All rights reserved under {{ site.title }}</p>
    </div>

    <div class="il-footer-l-3">
      <p class="il-footer-small-text">Email me at: <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
    </div>

  </div>

</footer>
