.#{$prefix}footer {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.#{$prefix}footer-l {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  @media screen and ( min-width: 720px ) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.#{$prefix}footer-l-1 {

}

.#{$prefix}footer-l-2 {

}

.#{$prefix}footer-l-3 {

}

.#{$prefix}footer-small-text {
  font-size: $font-size-small;
}