.il-footer {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.il-footer-l {
  display: flex;
  width: 100%;
}

.il-footer-l-1 {

}

.il-footer-l-2 {

}

.il-footer-l-3 {

}

.footer-small-text {

}