.#{$prefix}content {

}

.#{$prefix}content-l {

}

.#{$prefix}content-l-h {

  section {

  }
  aside {

  }
}

.#{$prefix}content-l-1 {

}

.#{$prefix}content-l-2 {

}

.#{$prefix}content-l-3 {

}

.#{$prefix}content-list {

}

.#{$prefix}content-list-item {

}

.#{$prefix}content-ihookup {
  .#{$prefix}content-tablet {
    svg {
      height: 500px;
      width: auto;
    }
  }
  .#{$prefix}content-mobile {
    svg {
      height: 500px;
      width: auto;
    }
  }
  .#{$prefix}content-desktop {
    svg {
      height: 500px;
      width: auto;
    }
  }
}
