.il-content {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.il-content-l {
  display: flex;
}
