.#{$prefix}content {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.#{$prefix}content-l {
  display: flex;
  flex-direction: column;
  > * {
    flex: 1;
    width: 100%;
  }
}

.#{$prefix}content-l-h {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  @media screen and ( min-width: 720px ) {
    flex-direction: row;
    justify-content: space-between;
  }
  section {
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    @media screen and ( min-width: 720px ) {
      margin-bottom: 0;
      width: 79%;
    }
    span {
      font-weight: 800;
    }
  }
  aside {
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width: 100%;
    .#{$prefix}social-media-list {
      margin-bottom: 0;
    }
    @media screen and ( min-width: 720px ) {
      width: 20%;
      .#{$prefix}social-media-list {
        margin-bottom: 10px;
      }
    }
  }
}

.#{$prefix}content-l-1 {
  border-radius: 10px;
  margin-bottom: 3rem;
}

.#{$prefix}content-l-2 {
  border-radius: 10px;
  margin-bottom: 3rem;
}

.#{$prefix}content-l-3 {
  border-radius: 10px;
  margin-bottom: 3rem;
}

.#{$prefix}content-list {
  height: 500px;
  position: relative;
  width: 100%;
}

.#{$prefix}content-list-item {
  &.#{$prefix}content-tablet {
    position: static;
    @media screen and ( min-width: 720px ) {
      bottom: 1rem;
      position: absolute;
      left: 1rem;
      height: auto;
      width: auto;
      z-index: 2;
    }
    .#{$prefix}content-tablet-media {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      position: relative;
      @media screen and ( min-width: 720px ) {
        display: block;
      }
      .#{$prefix}content-tablet-image {
        z-index: 2;
      }
    }
  }
  &.#{$prefix}content-mobile {
    position: static;
    @media screen and ( min-width: 720px ) {
      bottom: 1rem;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      height: auto;
      width: auto;
      z-index: 3;
    }
    .#{$prefix}content-mobile-media {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
      position: relative;
      @media screen and ( min-width: 720px ) {
        display: block;
      }
      .#{$prefix}content-mobile-image {
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: fill-available;
        z-index: 2;
      }
    }
  }
  &.#{$prefix}content-desktop {
    position: static;
    @media screen and ( min-width: 720px ) {
      bottom: 1rem;
      position: absolute;
      right: 1rem;
      height: auto;
      width: auto;
      z-index: 1;
    }
    .#{$prefix}content-desktop-media {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 48px;
      position: relative;
      @media screen and ( min-width: 720px ) {
        display: block;
      }
      .#{$prefix}content-desktop-image {
        z-index: 2;
      }
    }
  }
}

.#{$prefix}content-loading {
  left: 50%;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: 1;
}
