.il-header {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.il-header-l {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.il-header-l-1 {

}

.il-header-l-2 {

}

.il-header-l-3 {

}

.il-header-l-4 {

}