.#{$prefix}header {
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
}

.#{$prefix}header-l {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.#{$prefix}header-l-1 {

}

.#{$prefix}header-l-2 {

}

.#{$prefix}header-l-3 {

}

.#{$prefix}header-l-4 {

}