$white-white: rgb(255, 255, 255);
$white-iwhite: rgb(250, 250, 250);
$white-whitesmoke: rgb(242, 242, 242);
$black-iblack: rgb(17, 17, 17);
$grey-nero: rgb( 45, 45, 45 );
$blue-navyblue: rgb(0, 112, 201);